.danger {
  background-color: red;
  color: white;
}

.done {
  background-color: green;
  color: white;
  height: 50px;
  font-size: 24px;
  margin: 20px;
  padding-top: 20px;
  padding-left: 200px;
}
.answerres {
  background-color: green;
  color: white;
  height: 50px;
  font-size: 24px;
  margin-top: 20px;
  width: 1000px;
  padding-left: 100px;
  margin-right: 200px;
}
/* a {
  display: ;
} */
